body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    border: 1px solid red
  }
  
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  /* the .sticky class will be added by the observer */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }



  /* the overlay class depicts the viewport and the changes to the viewport */
  .overlay {
    background-color: darkgrey;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    position: fixed;
  }